.fullLine {
    border-bottom: 1px solid #ddd;
}
.container {
    display: flex;
    width: 695px;
    height: 70px;
    margin: auto;
   
}
.backContainer{
    height:410px;
    background-color:whitesmoke;

}
.selectfileContainer {
   
    margin-left: 405px;
    width: 600px;
    height: 180px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
.skipContainer {
    display:flex;
    margin-left: 405px;
    width: 600px;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}