.nav-style {
    position: absolute !important;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 60px;
    min-width: 320px;
    border-bottom: 1px solid #ddd !important;
    color: #555;
}

.buttonStyle a {
    height: 56px !important;
    color: #555;
}

.margin-left {
    margin-left: 10px;
}

    .buttonStyle:hover {
        border-bottom: 0.5px solid blue!important
    }


body {
    padding-top: 70px;
}

@media(max-width: 769px){
    body {
        padding-top: 240px;
    }
    li{
        text-align:center
    }
}