.nav-style {
    position: absolute !important;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 60px;
    min-width: 320px;
    border-bottom: 1px solid #ddd !important;
    color: #555;
}

.buttonStyle a {
    height: 56px !important;
    color: #555;
}

.margin-left {
    margin-left: 10px;
}

    .buttonStyle:hover {
        border-bottom: 0.5px solid blue!important
    }


body {
    padding-top: 70px;
}

.search-container {
    padding: 9px;
    text-align: center;
}


.search-container input {
    outline: none !important;
    border: 0.5px solid gray !important;
    width: 50vh;
    height: 5vh;
}
.search-container button {
    outline: none !important;
    border: 0.5px solid gray !important;
    background-color: white;
    height: 5vh;
}

.search-ul {
    margin-left: 25% !important;
}

@media(max-width: 859px) {
    .search-ul {
        margin-left: 10% !important;
    }

}

@media(max-width: 769px) {
    body {
        padding-top: 240px;
    }
    li{
        text-align:center
    }
    .search-ul {
        margin-left: 13% !important;
    }
}