@model IEnumerable<ResearchGate.Models.Artical>

@{
    ViewBag.Title = "SelectFile";
    

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Layout/Navbar.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/addResearch/iconContainer.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar nav-style">
        <div class="container-fluid">
            <div class="navbar-left">
                <img src="~/Content/Images/RG.png" alt="Research Gate" style="max-height:57px" />
            </div>
        </div>
    </nav>
    <div class="fullLine">
        <div class="container">
            <img src="~/Content/Images/publication-creation-grey.png" alt="Add Research" style="max-height:58px;margin-right:10px" />
            <h3>Add research to your profile</h3>
        </div>
    </div>
    <div class="backContainer">
        <br />
        <div class="selectfileContainer">
            <h3 style="margin-left:20px">Do you want to ad a file?</h3>
        </div>

        <div class="skipContainer">
            <i class="material-icons" style="margin-top:8px;margin-left:20px;font-size:15px;color:darkgray;">info_outline</i>
            <h6 style="margin-left:5px;color:darkgray">
                You can add details about this research in the next step
            </h6>
        </div>

    </div>
    <div style="position:absolute;bottom:0px;left:5px;margin-top:100%">
        <p>&copy; @DateTime.Now.Year - FCAI internet application project</p>
    </div>


</body>
</html>





