@model ResearchGate.Models.Artical

@{
    ViewBag.Title = "ShowArticalDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link href="~/Content/Search/Searchoutput.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>

        <div>
            <h3 style="text-align:center">@Model.title</h3>


            <iframe src="../../@Model.Paper"
                    frameBorder="0"
                    scrolling="auto"
                    height="500px"
                    width="100%"></iframe>

        </div>

</body>

</html>
